<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring for Android Showcase</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Please upload a file</h1>
    <form method="post" action="/spring-android-showcase-server/postformdata" enctype="multipart/form-data">
        <p>Name: <input type="text" name="description"/></p>
        <p><input type="file" name="file"/></p>
        <p><input type="submit"/></p>
    </form>
</body>
</html>