<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.springframework.android.showcase"
      android:versionCode="1"
      android:versionName="1.0">

	<uses-sdk android:minSdkVersion="10"></uses-sdk>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <application
    	android:name="org.springframework.android.showcase.MainApplication" 
    	android:label="@string/app_name">
        
        <activity 
        	android:name="org.springframework.android.showcase.MainActivity"
			android:label="@string/app_name">	
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.springframework.android.showcase.rest.GoogleSearchActivity" />
		<activity android:name="org.springframework.android.showcase.rest.HttpGetActivity" />
		<activity android:name="org.springframework.android.showcase.rest.HttpGetJsonActivity" />
		<activity android:name="org.springframework.android.showcase.rest.HttpGetXmlActivity" />
		<activity android:name="org.springframework.android.showcase.rest.HttpGetParametersActivity" />
        <activity android:name="org.springframework.android.showcase.rest.HttpPostActivity" />
        <activity android:name="org.springframework.android.showcase.rest.HttpPostStringActivity" />
        <activity android:name="org.springframework.android.showcase.rest.HttpPostJsonXmlActivity" />
		<activity android:name="org.springframework.android.showcase.rest.HttpPostMultiValueMapActivity" />
		<activity android:name="org.springframework.android.showcase.rest.HttpPostFormDataActivity" />
       	<activity android:name="org.springframework.android.showcase.rest.rome.RssActivity" />
        <activity android:name="org.springframework.android.showcase.rest.rome.RssChannelActivity" />
        <activity android:name="org.springframework.android.showcase.rest.rome.RssSyndFeedActivity" />
       	<activity android:name="org.springframework.android.showcase.rest.rome.AtomActivity" />
        <activity android:name="org.springframework.android.showcase.rest.rome.AtomFeedActivity" />
     	<activity android:name="org.springframework.android.showcase.rest.rome.AtomSyndFeedActivity" />
     	
     	<activity
        	android:name="org.springframework.android.showcase.social.twitter.TwitterWebOAuthActivity"  
        	android:noHistory="true"
        	android:excludeFromRecents="true">
        	<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="x-org-springsource-android-showcase" android:host="twitter-oauth-response" />
			</intent-filter>
		</activity>
        
        <activity 
        	android:name="org.springframework.android.showcase.social.twitter.TwitterActivity">
        </activity>
        
        <activity android:name="org.springframework.android.showcase.social.twitter.TwitterProfileActivity" />
        <activity android:name="org.springframework.android.showcase.social.twitter.TwitterTimelineActivity" />
        <activity android:name="org.springframework.android.showcase.social.twitter.TwitterTweetActivity" />
        <activity android:name="org.springframework.android.showcase.social.twitter.TwitterDirectMessageActivity" />

     	<activity
        	android:name="org.springframework.android.showcase.social.facebook.FacebookWebOAuthActivity"  
        	android:noHistory="true"
        	android:excludeFromRecents="true" />	

        <activity android:name="org.springframework.android.showcase.social.facebook.FacebookActivity" />
        <activity android:name="org.springframework.android.showcase.social.facebook.FacebookProfileActivity" />
        <activity android:name="org.springframework.android.showcase.social.facebook.FacebookHomeFeedActivity" />
		<activity android:name="org.springframework.android.showcase.social.facebook.FacebookWallPostActivity" />
        	
    </application>

</manifest> 
